//https://angular-ui.github.io/bootstrap/
doctype html
html
    head
        meta(name="viewport", content="width=device-width")
        script(src="/static/build/client.js")
        link(rel="stylesheet", href="/static/build/vendor.css")
        link(rel="stylesheet", href="/static/build/main.css")
        title quote-list
    
    body(ng-app="quotemodule", ng-controller="quotecontroller")
        .container
            .row
                .col-md-12
                    div(style="height:30px")
                    input.form-control(type="text", th-enter="doCapture()", ng-model="captureElement")
                    div(style="height:30px")
            .row
                .col-md-12
                    tabset
                        tab(heading="Capture")
                            ul.list-group(style="margin-top:20px;")
                                li.list-group-item(ng-repeat="item in items")
                                    .container-fixed
                                        .row
                                            .col-md-12
                                                h4 {{ item }}
                                        .row
                                            .col-md-3
                                                select.form-control(ng-model="targetList", ng-options="o.name as o.name for o in lists", ng-change="moveToList()")
                                            .col-md-6
                                                input.form-control(type="text", th-enter="newList()", ng-model="newListElement")
                        tab(heading="Next Step")
                            ul.list-group(style="margin-top:20px;", ng-repeat="(key, value) in lists | nextStepFilter | groupBy:'context'") 
                            
                                h3 {{ key }}
                                li.list-group-item(ng-repeat="item in value")
                                    .container-fixed
                                        .row
                                            .col-md-3
                                                h4 {{ item.name }}
                                            .col-md-3
                                                h5 {{ list.name }}
                                            .col-md-3
                                                h5 {{ item.context }}
                                        .row
                                            .col-md-4
                                            .col-md-2.pull-right
                                                button.btn.btn-success.pull-right(ng-click="deleteItemFromList()") done 

                        tab(heading="Projects")
                        tab(heading="Lists", active="true")
                            .container-fixed
                                .row
                                    .col-md-4
                                        ul.nav.nav-pills.nav-stacked
                                            li(ng-repeat="list in lists")
                                                a(style="cursor: pointer;", ng-click="selectList()", ng-class="{ active:list.selected }") {{ list.name }}
                                    .col-md-8(ng-show="activeList")
                                        .row
                                            .col-md-3
                                                h4 {{ activeList.name }}
                                            .col-md-3
                                                h5 {{ activeList.category }}
                                            .col-md-3
                                                h5 {{ activeList.type }}
                                        .row
                                            .col-md-6
                                                select.form-control(ng-model="activeList.type", ng-options="o as o for o in listTypes", ng-change="changeType()")
                                            .col-md-6
                                                select.form-control(ng-model="activeList.category", ng-options="o as o for o in listCategory", ng-change="changeType()")
                                        .row
                                            .col-md-6
                                                input.form-control(type="text", ng-blur="changeType()", ng-model="activeList.description")

                                        .row
                                            .col-md-12

                                                ul.list-group(style="margin-top:20px;")
                                                    li.list-group-item(ng-repeat="item in activeList.items | orderBy:'otderNumber'")
                                                        .container-fixed
                                                            .row
                                                                .col-md-4
                                                                    h4 {{ item.name }}
                                                            .row
                                                                .col-md-12
                                                                    button.btn.btn-primary(ng-click="setNextStep()") next Step
                                                                    button.btn.btn-danger(ng-click="deleteItemFromList()") delete 
                                                                    button.btn(ng-click="itemPos('up')") up
                                                                    button.btn(ng-click="itemPos('down')") down
                                                            .row
                                                                .col-md-6
                                                                    select.form-control(ng-model="item.context", ng-options="o as o for o in contextTypes", ng-change="changeType()")

