doctype html
html
    head
        script(src="/static/build/client.js")
        title quote-list
    
    body(ng-app="quotemodule", ng-controller="quotecontroller")
        h1 {{ test }}
        h2 Kalbshack 6
        input(type="text", th-enter="doCapture()", ng-model="captureElement")
        ul
            li(ng-repeat="item in items") {{ item }}
                | &nbsp;
                select(ng-model="targetList", ng-options="o.name as o.name for o in lists", ng-change="moveToList()")
                | &nbsp;
                input(type="text", th-enter="newList()", ng-model="newListElement")

        h2 Next Steps
        div(ng-repeat="list in lists")
            div(ng-repeat="item in list.items", ng-show="item.nextStep && list.type === 'project'") {{ item.name }} - {{ list.name }}
                | &nbsp;
                button(ng-click="doneNextStep()") done 

        h2 Lists
        div(ng-repeat="list in lists")
            h3 {{ list.name }}({{ list.type }})
            select(ng-model="list.type", ng-options="o as o for o in listTypes", ng-change="changeListType()")
            ul
                li(ng-repeat="item in list.items")
                    span(ng-show="item.nextStep") next Step - 
                    | {{ item.name }}
                    button(ng-click="setNextStep()", ng-show="list.type === 'project'") next Step

