doctype html
html
    head
        script(src="/static/build/client.js")
        title quote-list
    
    body(ng-app="quotemodule", ng-controller="quotecontroller")
        h1 {{ test }}
        h2 Kalbshack 6
        input(type="text", th-enter="doCapture()", ng-model="captureElement")
        ul
            li(ng-repeat="item in items"){{ item }}
